@import "reset";
@import "normalize";
body {
    color: #fff;
}

nav {
    background: #00A650;
    height: 50px;
    display: flex;
    p{
        margin: auto 0 auto;
        padding: 16px;
    }      
}